<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
>
	<testsuites>
		<testsuite name="tour-reference-theme">
			<directory suffix=".php">./tests/</directory>
			<exclude>./tests/bootstrap.php</exclude>
			<exclude>./tests/wp-tests-config.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
